* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 80px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Kosugi Maru", sans-serif;
}

.main__View {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ffbebe;
}

.main__content__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#section_01 {
  background: #cdcdcd;
}

#section_01.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

#section_02 {
  background: #b3b3b3;
}
#section_03 {
  background: #a5a5a5;
}

.fadein {
  /* 透明度:0; */
  opacity: 0;
  /* 変形:移動(座標x, 座標y); */
  transform: translate(0, 45px);
  /* 動作速度:対象 動作時間; */
  transition: all 300ms;
}
