* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
}

.warp {
  width: 100%;
  height: 100vh;
}

#fv {
  /* position: relative; */
}

h1 {
  position: absolute;
  bottom: 0;
  z-index: 100;
}

#fv img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  transition: 1s;
}

#text {
  opacity: 0;
  transition: 1s;
  transform: translateY(20px);
}

#text p {
  text-align: center;
  width: 80%;
  margin: 240px auto;
  line-height: 50px;
  letter-spacing: 2px;
  color: #333;
}

strong {
  font-size: 32px;
}

#boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

#box_1 {
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}
#box_2 {
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}
#box_3 {
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}

.fadein__box {
  text-align: center;
  line-height: 500px;
  width: 30%;
  height: 500px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 100px;
  background: linear-gradient(
    45deg,
    rgba(64, 255, 155, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.fadein__box--shape {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 49% 51% 70% 30% / 30% 59% 41% 70%;
  background: rgb(64, 255, 155);
  background: linear-gradient(
    45deg,
    rgba(64, 255, 155, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  animation: 1s Shape ease 0s infinite alternate none;
}

.shape1 {
  transform: translateX(50px) translateY(-35px);
}

@keyframes Shape {
  0% {
    border-radius: 38% 62% 55% 45% / 52% 55% 45% 48%;
  }
  100% {
    border-radius: 60% 40% 70% 30% / 36% 69% 31% 64%;
  }
}
